.container {
    background-color:cadetblue;
    padding: 1rem 3rem;
    min-height: 100vh;
    min-width: 100vw; /*removed whitespace on the right */
}

.events-box { 
    
    gap: 1rem;
    display: grid;
    align-items: center;
}