.TripPanelContainer {
    background-color: cadetblue;
    min-height: 100vh;
}   

.TripPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#TripRegistrationButton {
    padding: 15px 20px 15px 20px;
    border: 10px;
    border-color: black;
    border-width: 5px;
    border-style: ridge;
}


.tripPanel-box > div:not(.btn-box) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.btn-box {
    grid-column: 1/-1;
    text-align: left;
    margin-top: 4rem;
}