.TripCard {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 50px 10px 50px 10px;
    background-color: aquamarine;
    border: 10px;
    border-color: black;
    border-style: ridge;
    margin: 50px 110px 50px 110px;
}

.TripCardInfo {
    margin: 20px 10px 20px 10px;
    font-size: 30px;
}